# Frontend Client Env Variables (Vite prefixed)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=prezento-am.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://prezento-am-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=prezento-am
VITE_FIREBASE_STORAGE_BUCKET=prezento-am.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=256635255649
VITE_FIREBASE_APP_ID=

# Server Backend API Env Variables
SERVER_PORT=5200
FIREBASE_PROJECT_ID=prezento-am
FIREBASE_SERVICE_ACCOUNT_FILE=
# FIREBASE_SERVICE_ACCOUNT_JSON=

# Firestore collection for PreZento generators
FIRESTORE_RSVP_COLLECTION=projects
RSVP_PROJECT_ID=david-gayane-wedding

# Telegram Notification Settings
TELEGRAM_BOT_TOKEN=
TELEGRAM_TARGET_LINK=
TELEGRAM_MESSAGE_THREAD_ID=
TELEGRAM_ADMIN_CHAT_ID=
